#contenedor h1.titulo {
    text-align: center;
}

#contenedor p {
    font-family: serif;
}

#primer-parrafo {
    background-color: #CEE;
}

#primer-parrafo em {
    color: #933;
}

#contenedor a, a{
    outline: 1px solid #333;
}

#contenedor p.fuente {
    opacity: 100%;
}

#contenedor p.fuente {
    color: #000;
}

#contenedor .complicado {
    font-weight: bold;
    color: #C62;
}
